<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.kralite.workflow"/>

    <bean id="runEngine" class="com.kralite.workflow.engine.RunEngine">
        <property name="dataManager" ref="dataManager"></property>
        <property name="flowManager" ref="flowManager"></property>
        <property name="flowParser" ref="flowParser"></property>
    </bean>

    <bean id="dataManager" class="com.kralite.workflow.manager.LocalMemoryDataManager"></bean>
    <bean id="flowManager" class="com.kralite.workflow.manager.DefaultFlowManager"></bean>
    <bean id="flowParser" class="com.kralite.workflow.parser.DefaultFlowParser"></bean>
</beans>

















































































































